.header__lang-link {
    margin-right: 18px;
    line-height: 28px;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    transition: opacity 0.4s linear;
}

.header__lang-link:nth-of-type(2n) {
    margin-right: 0;
}

.header__lang-link:hover {
    opacity: 80%;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .header__lang-link {
        line-height: 20px;
        font-size: 18px;
    }
}