.places__title {
    margin: 0;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
    align-self: end;
}

@media screen and (max-width: 880px) {
    .places__title {
        font-size: 62px;
        line-height: 66px;
    }
}

@media screen and (max-width: 768px) {
    .places__title {
        width: 90%;
        font-size: 42px;
        line-height: 46px;       
    }
}

@media screen and (max-width: 665px) {
    .places__title {
        margin: 0 auto 0;
        line-height: 35px;
        font-size: 32px;       
    }
}